package ${package_name}.rpc.api;

import cn.shenan.common.base.BaseService;
import ${package_name}.dao.model.${model};
import ${package_name}.dao.model.${model}Example;

/**
* ${model}Service接口
* Created by shenan on ${ctime}.
*/
public interface ${model}Service extends BaseService<${model}, ${model}Example> {

}